/**/*.min.*
/public/cms
/vendor
/node_modules
/**/_assets/packages
/**/_assets/build
/**/vendor
/**/storage
/**/_media
/**/assets/media
/**/assets/shared/packages
/**/resources/packages
/**/build
/**/dist
/**/plugins
/**/uploads
/**/wp-admin
/**/wp-includes
